/* header color: #2E2F42 */
/* Primary text color: #434455 */
/* accent #434455 */
/* header and footer background color #434455 */
/* section background color #F4F4FD */

:root {
    --primary-text-color:#434455;
    --title-text-color:#2E2F42;
    --primary-white-color:#ffffff;
    --accent-color:#4D5AE5;
    --light-color:#F4F4FD;
    --border-bottom-color: #404BBF;
    --footer-color: #E7E9FC;
    --card-shadow: box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}


/* logo */

.logo {
    color: var(--title-text-color);
    text-transform:uppercase;
    font-family:'Raleway', sans-serif;
    text-decoration:none;
}
.logo-web {
    color:var(--accent-color);
}

/* navigation links */

header {
    box-shadow: var(--card-shadow);
}

.list-header-page {
    list-style: none;
    font-weight: 600;
}

.list-header-page .link {
    text-decoration: none;
    color:var(--title-text-color);
    font-weight: 500;
}

.list-header-page .link:hover,
.list-header-page .link:focus,
.list-header-page .link:active {
    color:var(--accent-color);
}

.list-mail-tel .link:hover,
.list-mail-tel .link:focus,
.list-mail-tel .link:active {
    color:var(--accent-color);
}


/* list */
.list {
    list-style:none;
}

.list-mail-tel .link {
    text-decoration:none;
    color:var(--title-text-color);
}

.main-section {
    background-color:var(--title-text-color);
}

.title {
    color: var(--primary-white-color);
    font-size:56px;
    font-weight:500;
    line-height: 1.07;
    text-align:center;
}

.main-btn {
    background-color:var(--accent-color);
    border:none;
    cursor: pointer;
    font-family: inherit;
    color:var(--primary-white-color);
    font-weight:500; 
    font-size: 16px;
    line-height: 1.2;

}

.main-btn:hover,
.main-btn:focus,
.main-btn:active {
    background-color:var(--border-bottom-color);
}

/* unique page */

.section{
    background-color:var(--primary-white-color);
}

.section h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--title-text-color);
}
.section p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--primary-text-color);
}

.section-photo h2 {
    text-transform: capitalize;
}

.section-title{
    color:var(--title-text-color);
    font-weight: 500;
    font-size: 36px;
    line-height: 1.1;
}

.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
/* Team info */

.main-team {
    background-color:var(--light-color);
}

.title-name {
    color:var(--title-text-color);
    font-weight:500;
}

/* footer */

.footer-page {
    background-color:var(--title-text-color);
}

.footer-text-page {
    color: var(--footer-color);
}

.footer-logo-page {
    color: var(--accent-color);
}

.name-logo {
    color:var(--light-color);
    text-transform:uppercase;
    font-family:'Raleway', sans-serif;
    text-decoration:none;
}

/* Portfolio */
.portfolio-links {
    text-decoration:none;
}

.portfolio-buttons{
    color:var(--accent-color);
    background-color:var(--light-color);
    border:none;
    font-family:inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}
.portfolio-buttons:hover,
.portfolio-buttons:focus {
    color:var(--primary-white-color);
    background-color:var(--accent-color);
    cursor: pointer;
}

.meditaion-app {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    background-color:var(--primary-white-color);
    color:var(--title-text-color);
}
.list-img p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--primary-text-color);
}